%h1
  Redis Stress Test

%div
  %h2 
    Count Test
    = "(#{@count_len})"
  %div
    Last date: 
    = @last_count


%div
  %h2
    Messages
    = "(#{@message_len})"

  - @messages.each do |msg|
    %div= msg
